<!-- Categorylist view -->

<div id="categoryView">
    <h1>{{header}}</h1>

    <alert class="revealAnimation" ng-repeat="alert in alerts" type="alert.type" close="closeAlert(index)">{{alert.msg}}</alert>

    <form name="addFrm" class="input-group addItem" ng-class="{'has-error': addFrm.addTxt.$invalid, 'has-success': addFrm.addTxt.$valid}">
        <input class="form-control" name="addTxt" type="text" placeholder="Tilføj kategori" 
               ng-model="addItemTxt" ng-pattern="/[a-zæøå]{2}:.*/" />
        <span class="input-group-btn">
            <button class="btn btn-success" type="submit" ng-click="addItem()"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Tilføj</button>
        </span>
    </form>

    <div class="panel panel-primary">
        <div class="panel-heading">Kategorier</div>
        <table class="table">
            <tbody>
                <tr ng-repeat="category in categories">
                    <td class="item">{{category.name}}</td>
                    <td class="icon">
                        <div class="btn-group">
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil" ng-click="editItem(category)"></span>
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="removeItem(category)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>