extends layout

block content
    div#mainContent(ng-controller='foodManager.indexController')
        ng-view

block scripts
    script(src='/javascripts/controllers/foodManager.controllers.js')
    script(src='/javascripts/app.js')
