extends layout

block content
    div#mainContent
        div(ng-view)

block scripts
    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers/foodManagerApp.controllers.js')
    script(src='/javascripts/services/groceriesSvc.js')
    script(src='/javascripts/services/categorySvc.js')
