#mainContent {
  padding: 60px 0;
}
table.liItems {
  margin: 20px 0;
  padding: 0;
}
table.liItems td {
  font-size: 1.5em;
}
table.liItems td.item {
  padding: 10px 20px 10px 0;
}
#categoryView div.addItem {
  margin-bottom: 10px;
}
#categoryView td {
  line-height: 33px;
}
#categoryView td.icon {
  width: 95px;
}
#shoppingView div.addItem {
  margin-bottom: 10px;
}
#shoppingView div.panel.empty {
  display: none;
}
#shoppingView td.icon {
  padding-right: 8px;
  padding-left: 13px;
  width: 20px;
}
